@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}
:root{
  --black-purple: #060512;
  --dark-purple: #1e1630;
  --primary-purple: #533565;
  --normal-purple: #c37bc7 ;
  --light-purple: #AAADBF;
  --primary-pink: #cd487a;
  --light-pink: #f7dfe2;
  --primary-blue: 
}

body {
  background: linear-gradient(to right, var(--dark-purple), var(--primary-purple));
}

.evolve-gradient-btn{
  background: linear-gradient(to right, var(--primary-pink), var(--primary-purple), var(--light-purple));
}

.puto{
  grid-template-columns: repeat(3, auto) !important;
}